{{extend 'layout.html'}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">

    <div class="jumbotron col-lg-8">
        <div class="container">
            <p><b>STAR</b>: The <i>Search Tag & Analyze Resource</i> for collaborative annotation and
                interpretation of disease from open digital samples.</p>
        </div>
        <div class="container">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#search" role="tab" data-toggle="tab">Search</a></li>
                <li class=""><a href="#tag" role="tab" data-toggle="tab">Tag</a></li>
                <li class=""><a href="#analyze" role="tab" data-toggle="tab">Analyze</a></li>
                <li class=""><a href="#resource" role="tab" data-toggle="tab">Resource</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="search">
                    <p>STAR provides a powerful search engine across samples, experiments, and atributes from GEO. In
                        all, {{=session.sample_attribute_count}} attributes
                        of {{=session.sample_count}} digital samples drawn
                        from {{=session.series_count}} experiments characterized
                        by {{=session.series_attribute_count}} attributes are available.</p>
                </div>
                <div class="tab-pane fade" id="tag">
                    <p>STAR uses an annotation engine based on a symantic network of crowd-sourced tags that
                        that represent biological annotations. In all, {{=session.tag_count}} tags have been used
                        to make  {{=session.series_tag_count}} annotations of digital experiments
                        representing {{=session.sample_tag_count}} annotations of digital samples.</p>
                </div>
                <div class="tab-pane fade" id="analyze">
                    <p>STAR enables meta-analysis of digitally tagged samples for robust gene signatures
                        across {{=session.platform_count}} platforms. Meta-effects are calculated by standard
                        fixed and random models of effect sizes and visualized by Forrest plots for each gene.</p>
                </div>
                <div class="tab-pane fade" id="resource">
                    <p>STAR represents an annotation layer built on open public data provided by GEO. Tt is provided as an open
                        resource for the scientific community as a tool to derive robust gene signatures from public
                        functional genomics data.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">All STAR stats</div>
            <ul class="nav">
                <li>
                    <a>Tags
                        <span class="badge pull-right">{{=session.tag_count}}</span>
                    </a>
                </li>
                <li>
                    <a>Samples
                        <span class="badge pull-right">{{=session.sample_count}}</span>
                    </a>
                </li>
                <li style="margin-left: 1em">
                    <a> Attributes
                        <span class="badge pull-right">{{=session.sample_attribute_count}}</span>
                    </a>
                </li>
                <li style="margin-left: 1em">
                    <a>Annotations
                        <span class="badge pull-right">{{=session.sample_tag_count}}</span>
                    </a>
                </li>
                <li>
                    <a>Series
                        <span class="badge pull-right">{{=session.series_count}}</span>
                    </a>
                </li>
                <li style="margin-left: 1em">
                    <a>Attributes
                        <span class="badge pull-right">{{=session.series_attribute_count}}</span>
                    </a>
                </li>
                <li style="margin-left: 1em">
                    <a>Annotations
                        <span class="badge pull-right">{{=session.series_tag_count}}</span>
                    </a>
                </li>
                <li>
                    <a>Platforms
                        <span class="badge pull-right">{{=session.platform_count}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">Latest Annotations</div>
{{
Series_Tag.tag_id.represent = lambda name, row: DIV(row.tag_id.tag_name, _class = "badge")
annotations = SQLFORM.grid(Series_Tag, searchable=False, csv=False, orderby=~Series_Tag.id, paginate=7, maxtextlength=100)
annotations.element('.web2py_console', replace=None)
annotations.element('.web2py_paginator', replace=None)
=annotations}}
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
